:root {
  --color-bluers: #7C3AED;
  --color-gray-title: #1E293B;
  --color-span: #475569;
  --color-label: #1E293B;
  --color-textearea: #94A3B8;
  --color-spass-purble: #7C3AED;
  --color-white: #FFF;
  --color-border: #E2E8F0;

  


  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}
